<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/index.css">
  <title>index</title>
</head>
<body>
  <section>
    <div class="container">
      <h1>Login Here</h1>
      <a class="but" href="login">LOGIN</a>
      <br>
      <br>
      <br>
      
      <p>Didn't Signup Yet ?</p>
      <h2>Signup Here</h2>
       <a class="but" href="signup">SIGNUP</a>
      

    </div>
  </section>
</body>
</html>