<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my design</title>
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <section>
        <div class="container">

            <form class="form" action="signup" method="POST">
                <h1 class="h1">SIGNUP HERE</h1>
                <input name="name" placeholder="Name" type="text" class="input">
                <input name="email" placeholder="Email" class="input" type="email ">
                <input name="password" placeholder="Password" class="input" type="text">
                <button type="submit" class="button">Signup </button>
            </form>
        </div>
    </section>
</body>

</html>