<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/success.css">
  <title>success</title>
</head>
<body>
  <section>
    <div class="container">

      <p>WELCOME , {{response.user.name}}
        <br>Thank you for visiting our we site</p>
            <form action="logout">
        <button class="button" type="submit" >Logout</button>
        </form>
      
    </div>
  </section>
  
</body>
</html>

     